.profile {
  box-shadow: 0px 0px 17px 0px rgba(0,0,0,1);
  margin: 0% 25% 0% 25%;
}

input[type=text], input[type=password] {
  font-size: 1.2em;
  width: 80%;
  box-sizing: border-box;
  transition: .2s;
  padding-left: 40px;
  padding-bottom: 1%;
  margin-left: 80px;
  border: 1px solid black;
  margin-bottom: 1%;
}

textarea {
  height: 300px;
  width: 80%;
  box-sizing: border-box;
  font-size: 1.2em;
  padding-left: 40px;
  margin-left: 80px;
}

input[type=text]:focus,input[type=password]:focus {
  border-color: blue;
}

textarea:focus {
  border-color: blue;
}

.inputWithIcon {
  position: relative;
}

.inputWithIcon>ion-icon {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 80px;
  width: 35px;
  height: 35px;
  /* border: 1px solid black; */
}

ion-icon {

}

button {
  background-color: black;
  font-size: 2em;
  color: white;
  border-radius: 16px;
  margin-left: 35%;

}
