.modal{
  border: 2px solid yellow;
  position: absolute;
  background: teal;
  color:red;
  top:0;
  left:0;
  width:100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalOff{
  border:2px solid red;
}
