.inputWithIcons{
  position: relative;
  padding-left: 40px;


}

.timezoneSelect{
  width: 80%;
  height: 40px;
  font-size: 1.2em;
  text-align: center;
  padding-left: 40px;
  background-color: white;
  margin-left: 75px;

}


.inputWithIcons>ion-icon {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 80px;
  width: 35px;
  height: 35px;

  border: 1px solid black;
}

ion-icon{
  width: 38px;
  height: 38px;
  box-sizing: border-box;
  border-radius: 6px;
}
