.inputWithIcons{
  position: relative;
  padding-left: 40px;



}

.timezoneSelect{
  width: 80%;
  height: 40px;
  font-size: 1.2em;
  padding-left: 40px;
  background-color: white;
  margin-left: 75px;
  border-radius: 1px;
   /* -webkit-appearance: none; */
  /* border:3px solid blue; */
  /* border-radius: 0px; */

}


.inputWithIcons>ion-icon {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 80px;
  width: 35px;
  height: 40px;
  /* border: 1px 0px 1px 1px solid black; */
  border: 1px solid silver;
  border-right: 0;
  box-sizing: border-box;
}
