.Login{
  position: absolute;
  top:30%;
  right: 10%;
  height: 400px;
  width:400px;
  background: rgba(255,255,255, 0.4);
  color:white;
}

.Login>h1{
  text-align: center;
  cursor: pointer;
  color:gray
}

.Login>h1>span:hover{
  color:black;
  text-decoration: underline;
}

.inputIcon {
  position: relative;
  padding-left: 0px;
  padding-bottom: 5%;
}

.inputIcon>ion-icon {
  position: absolute;
  top: 0;
  left: 2%;
  border: 1px solid black;
  border-right:0;
  height:33px!important;

}

.inputIcon>input {
  width: 70%!important;
  /* border: 2px solid red!important; */
  padding-left: 5px!important;
  font-size: 1.5em;
  margin-left: 28px!important;
}

ion-icon {
  font-size: 1.5em;
  background-color: white;
  color:gray;
  border-radius: 1px!important;
}

.loginForm>button{

  margin: 5% 0% 0% 35%;
  background-color: black!important;

}
